.button {
    height: 25px;
    width: 50px;
    background: none;
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    color: #e8e8e8;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease-in all;
    &:hover {
        background: #e8e8e8;
        color: #363636;
    }
}